#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  acme-mailcow-app.service
After=mailcow.service nginx-mailcow-app.service unbound-mailcow-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/acme-mailcow-app.pid %t/acme-mailcow-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/acme-mailcow-app.pid  --cidfile %t/acme-mailcow-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/mailcow.pod-id --replace -d --name  acme-mailcow-app   \
    --volume web-well-known-acme-challenge:/var/www/acme:z \
    --volume ssl:/var/lib/acme/:z \
    --volume assets-ssl-example:/var/lib/ssl-example/:ro,Z \
    --volume mysql-socket-vol:/var/run/mysqld/:z \
    --volume %S/bin/acme/:/srv:z,rw \
    --env-file acme-mailcow.env  ${ACME_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/acme-mailcow-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP acme-mailcow-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/acme-mailcow-app.ctr-id
PIDFile=%t/acme-mailcow-app.pid
Type=forking

[Install]
WantedBy=default.target
