#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  clamd-mailcow-app.service
BindsTo=mailcow.service
After=mailcow.service unbound-mailcow-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/clamd-mailcow-app.pid %t/clamd-mailcow-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/clamd-mailcow-app.pid  --cidfile %t/clamd-mailcow-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/mailcow.pod-id --replace -d --name  clamd-mailcow-app   \
    --volume conf-clamav:/etc/clamav/:Z \
    --volume clamd-db-vol:/var/lib/clamav:Z   \
    --env-file clamd-mailcow.env  ${CLAMD_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/clamd-mailcow-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP clamd-mailcow-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/clamd-mailcow-app.ctr-id
PIDFile=%t/clamd-mailcow-app.pid
Type=forking

[Install]
WantedBy=default.target
