#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman dockerapi.service
After=mailcow.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/dockerapi.pid %t/dockerapi.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/dockerapi.pid  --cidfile %t/dockerapi.ctr-id --cgroups=no-conmon  --pod-id-file %t/mailcow.pod-id --replace -d --name  dockerapi   \
    --volume run-dockersock:/var/run/docker.sock:ro,z \
    --env-file dockerapi-mailcow.env  ${DOCKERAPI_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/dockerapi.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP dockerapi
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/dockerapi.ctr-id
PIDFile=%t/dockerapi.pid
Type=forking

[Install]
WantedBy=default.target
