#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  dovecot-mailcow-app.service
After=mailcow.service mysql-mailcow-app.service netfilter-mailcow-app.service redis-mailcow-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/dovecot-mailcow-app.pid %t/dovecot-mailcow-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/dovecot-mailcow-app.pid  --cidfile %t/dovecot-mailcow-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/mailcow.pod-id --replace -d --name  dovecot-mailcow-app   \
    --volume hooks-dovecot:/hooks:Z \
    --volume conf-dovecot:/etc/dovecot:z \
    --volume assets-ssl:/etc/ssl/mail/:ro,z \
    --volume conf-sogo-:/etc/sogo/:z \
    --volume phpfpm-sogo-sso-:/etc/phpfpm/:z \
    --volume vmail-vol-1:/var/vmail:Z \
    --volume vmail-index-vol-1:/var/vmail_index:Z \
    --volume crypt-vol-1:/mail_crypt/:Z \
    --volume rspamd-custom:/etc/rspamd/custom:z \
    --volume assets-templates:/templates:z \
    --volume rspamd-vol-1:/var/lib/rspamd:Z \
    --volume mysql-socket-vol:/var/run/mysqld/:z \
    --env-file dovecot-mailcow.env  ${DOVECOT_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/dovecot-mailcow-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP dovecot-mailcow-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/dovecot-mailcow-app.ctr-id
PIDFile=%t/dovecot-mailcow-app.pid
Type=forking

[Install]
WantedBy=default.target
