#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a mailcow instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman mailcow.service
Requires=unbound-app.service clamd-app.service sogo-app.service dovecot-app.service postfix-tlspol-app.service nginx-app.service dockerapi-app.service olefy-app.service mariadb-app.service postfix-app.service memcached-app.service acme-app.service netfilter-app.service watchdog-app.service redis-app.service rspamd-app.service ofelia-app.service phpfpm-app.service 
Before=unbound-app.service clamd-app.service sogo-app.service dovecot-app.service postfix-tlspol-app.service nginx-app.service dockerapi-app.service olefy-app.service mariadb-app.service postfix-app.service memcached-app.service acme-app.service netfilter-app.service watchdog-app.service redis-app.service rspamd-app.service ofelia-app.service phpfpm-app.service 

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/mailcow.pid %t/mailcow.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/mailcow.pid  --pod-id-file %t/mailcow.pod-id  --name mailcow  --publish 127.0.0.1:${TCP_PORT}:80  --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/mailcow.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/mailcow.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/mailcow.pod-id
PIDFile=%t/mailcow.pid
Type=forking

[Install]
WantedBy=default.target
