#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a mailcow instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman mailcow.service
Wants=netfilter-mailcow-app.service olefy-mailcow-app.service dockerapi.service unbound-mailcow-app.service clamd-mailcow-app.service sogo-mailcow-app.service dovecot-mailcow-app.service postfix-tlspol-mailcow-app.service postfix-mailcow-app.service memcached-mailcow-app.service acme-mailcow-app.service watchdog-mailcow-app.service rspamd-mailcow-app.service ofelia-mailcow-app.service php-fpm-mailcow-app.service 
Requires=mysql-mailcow-app.service redis-mailcow-app.service nginx-mailcow-app.service
Before=netfilter-mailcow-app.service olefy-mailcow-app.service dockerapi.service unbound-mailcow-app.service clamd-mailcow-app.service sogo-mailcow-app.service dovecot-mailcow-app.service postfix-tlspol-mailcow-app.service postfix-mailcow-app.service memcached-mailcow-app.service acme-mailcow-app.service watchdog-mailcow-app.service rspamd-mailcow-app.service ofelia-mailcow-app.service php-fpm-mailcow-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/mailcow.pid %t/mailcow.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/mailcow.pid  --pod-id-file %t/mailcow.pod-id  --name mailcow  --publish 127.0.0.1:${TCP_PORT}:443 --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/mailcow.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/mailcow.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/mailcow.pod-id
PIDFile=%t/mailcow.pid
Type=forking

[Install]
WantedBy=default.target
