#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  php-fpm-mailcow-app.service
After=mailcow.service redis-mailcow-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/php-fpm-mailcow-app.pid %t/php-fpm-mailcow-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/php-fpm-mailcow-app.pid  --cidfile %t/php-fpm-mailcow-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/mailcow.pod-id --replace -d --name  php-fpm-mailcow-app   \
    --volume hooks-phpfpm:/hooks:Z \
    --volume data-web:/web:z \
    --volume conf-rspamd-dynmaps:/dynmaps:ro,z \
    --volume rspamd-custom-fpm:/rspamd_custom_maps:z \
    --volume dovecot-auth-mailcowauthphp:/mailcowauth/mailcowauth.php:z \
    --volume web-inc-functionsincphp:/mailcowauth/functions.inc.php:z \
    --volume web-inc-functionsauthincphp:/mailcowauth/functions.auth.inc.php:z \
    --volume web-inc-sessionsincphp:/mailcowauth/sessions.inc.php:z \
    --volume web-inc-functionsmailboxincphp:/mailcowauth/functions.mailbox.inc.php:z \
    --volume web-inc-functionsratelimitincphp:/mailcowauth/functions.ratelimit.inc.php:z \
    --volume web-inc-functionsaclincphp:/mailcowauth/functions.acl.inc.php:z \
    --volume rspamd-vol-1:/var/lib/rspamd:Z \
    --volume mysql-socket-vol:/var/run/mysqld/:z \
    --volume conf-sogo:/etc/sogo/:z \
    --volume conf-rspamd-metaexporter:/meta_exporter:ro,z \
    --volume conf-phpfpm-crons:/crons:z \
    --volume phpfpm-sogo-sso-:/etc/sogo-sso/:z \
    --volume phpfpm-php-fpmd-poolsconf:/usr/local/etc/php-fpm.d/z-pools.conf:Z \
    --volume phpfpm-php-confd-opcache-recommendedini:/usr/local/etc/php/conf.d/opcache-recommended.ini:Z \
    --volume phpfpm-php-confd-uploadini:/usr/local/etc/php/conf.d/upload.ini:Z \
    --volume phpfpm-php-confd-otherini:/usr/local/etc/php/conf.d/zzz-other.ini:Z \
    --volume conf-dovecot-globalsievebefore:/global_sieve/before:z \
    --volume conf-dovecot-globalsieveafter:/global_sieve/after:z \
    --volume assets-templates:/tpls:z \
    --volume conf-nginx:/etc/nginx/conf.d/:z   \
    --env-file php-fpm-mailcow.env  ${PHPFPM_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/php-fpm-mailcow-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP php-fpm-mailcow-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/php-fpm-mailcow-app.ctr-id
PIDFile=%t/php-fpm-mailcow-app.pid
Type=forking

[Install]
WantedBy=default.target
