#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  postfix-tlspol-mailcow-app.service
BindsTo=mailcow.service
After=mailcow.service unbound-mailcow-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/postfix-tlspol-mailcow-app.pid %t/postfix-tlspol-mailcow-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/postfix-tlspol-mailcow-app.pid  --cidfile %t/postfix-tlspol-mailcow-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/mailcow.pod-id --replace -d --name  postfix-tlspol-mailcow-app   \
    --volume postfix-tlspol-vol-1:/var/lib/postfix-tlspol:Z   \
    --env-file postfix-tlspol-mailcow.env  ${POSTFIX_TLSPOL_IMAGE}  
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/postfix-tlspol-mailcow-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP postfix-tlspol-mailcow-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/postfix-tlspol-mailcow-app.ctr-id
PIDFile=%t/postfix-tlspol-mailcow-app.pid
Type=forking

[Install]
WantedBy=default.target
