#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  rspamd-mailcow-app.service
After=mailcow.service dovecot-mailcow-app.service clamd-mailcow-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/rspamd-mailcow-app.pid %t/rspamd-mailcow-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/rspamd-mailcow-app.pid  --cidfile %t/rspamd-mailcow-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/mailcow.pod-id --replace -d --name  rspamd-mailcow-app   \
    --volume hooks-rspamd:/hooks:Z \
    --volume %S/bin/rspamd/settings.conf:/etc/rspamd/settings.conf:Z \
    --volume %S/bin/rspamd/set_worker_password.sh:/set_worker_password.sh:Z \
    --volume %S/bin/rspamd/docker-entrypoint.sh:/docker-entrypoint.sh:Z \
    --volume rspamd-custom:/etc/rspamd/custom:z \
    --volume rspamd-overrided:/etc/rspamd/override.d:Z \
    --volume rspamd-locald:/etc/rspamd/local.d:Z \
    --volume rspamd-pluginsd:/etc/rspamd/plugins.d:Z \
    --volume rspamd-lua:/etc/rspamd/lua/:ro,Z \
    --volume conf-rspamd-rspamdconflocal:/etc/rspamd/rspamd.conf.local:Z \
    --volume conf-rspamd-rspamdconfoverride:/etc/rspamd/rspamd.conf.override:Z \
    --volume rspamd-vol:/var/lib/rspamd:Z   \
    --env-file rspamd-mailcow.env  ${RSPAMD_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/rspamd-mailcow-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP rspamd-mailcow-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/rspamd-mailcow-app.ctr-id
PIDFile=%t/rspamd-mailcow-app.pid
Type=forking

[Install]
WantedBy=default.target
