#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  watchdog-mailcow-app.service
After=mailcow.service postfix-mailcow-app.service dovecot-mailcow-app.service mysql-mailcow-app.service acme-mailcow-app.service redis-mailcow-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/watchdog-mailcow-app.pid %t/watchdog-mailcow-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/watchdog-mailcow-app.pid  --cidfile %t/watchdog-mailcow-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/mailcow.pod-id --replace -d --name  watchdog-mailcow-app   \
    --volume rspamd-vol-1:/var/lib/rspamd:Z \
    --volume mysql-socket-vol:/var/run/mysqld/:z \
    --volume postfix-vol-1:/var/spool/postfix:Z \
    --volume ssl:/etc/ssl/mail/:ro,z   \
    --env-file watchdog-mailcow.env  ${WATCHDOG_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/watchdog-mailcow-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP watchdog-mailcow-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/watchdog-mailcow-app.ctr-id
PIDFile=%t/watchdog-mailcow-app.pid
Type=forking

[Install]
WantedBy=default.target
